
@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">Yo do not have permission to view the resources</h6>
    <img src="https://image.freepik.com/free-vector/access-denied-design_24908-54565.jpg" />
</div>

